<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054138282305-odn5q1ha6ma09mren6ou4v5rgm691tfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054138282305-odn5q1ha6ma09mren6ou4v5rgm691tfp</string>
	<key>API_KEY</key>
	<string>AIzaSyCTJO5RmLQYBGMfpd5uLxadXx21zvcetQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1054138282305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elcampus360.negocios360app</string>
	<key>PROJECT_ID</key>
	<string>negocios360-5683c</string>
	<key>STORAGE_BUCKET</key>
	<string>negocios360-5683c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054138282305:ios:b1e0354b940118d0a671c0</string>
</dict>
</plist>